<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>xmMainlist</title>
    <!--  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/bootstrap-theme.css}">
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">项目列表</a></li>
    </ul>
</div>
<div id="div1" class="formbody">
    <form th:action="@{/xmmain/list}" th:object="${xmMain}" method="post" class="breadcrumb form-search">
        <ul class="ul-form">
            <li>
                <span style="margin-left: 25px">姓名：</span>
                <input style="width:150px;" type="text" th:field="*{name}" value=""/>
            </li>
            <li>
                <span style="margin-left: 25px;">处理月份:</span>
                <input type="date" th:field="*{datetime}" value="">
            </li>

            <li class="btns" style="float:right;margin-right: 35px;">
                <input id="submit" style="color: #FFFFFF; width: 75px;height: 30px;border: 1px solid #3EAFE0 ;
                     background-color:#3EAFE0;font-weight:700;" type="submit" value="查询"/>
            </li>
        </ul>
        </form>

        <message content="${message}"/>
        <div style="width: 100%; overflow: auto;">
            <table id="contentTable" class="table table-striped table-bordered table-condensed"
                   style="min-width:1550px;">
                <thead>
                <tr>
                    <th style="width: 25px;">序号</th>
                    <th style="width: 150px; ">项目名称</th>
                    <th style="width: 60px;">建设性质</th>
                    <th style="width: 120px;">行业类别</th>
                    <th style="width: 80px; ">主要建设内容及规模</th>
                    <th style="width: 80px; ">总投资</th>
                    <th style="width: 120px; ">当前进展情况</th>
                    <th style="width: 120px; ">${xmMain.jsnd}年工作目标</th>
                    <th style="width: 100px; ">建设地点</th>
                    <th style="width: 100px; ">责任单位</th>
                    <!--  <shiro:hasAnyPermissions name="project:sbkqq:delete,project:sbkqq:update">
                          <th rowspan="2" style="width: 80px; ">
                              操作
                          </th>
                      </shiro:hasAnyPermissions>-->
                </tr>

                </thead>
                <tbody id="testDataChildList">
                <!--<c:forEach items="${page.list}" var="zj" varStatus="k">
                    <shiro:hasAnyPermissions name="project:sbkqq:rzdxmk,project:sbkqq:xmbh">
                        <td style="text-align: center;">
                            <input id="childcheck" name="childcheck" type="checkbox" value="${zj.id}" data-xmmc="${zj.xmmc}" zrdw="${zj.zrdw.id}" xmlevel="${zj.xmLevel}" data-isqqxm="${res.isqqxm}"/>
                        </td>
                    </shiro:hasAnyPermissions>
                    <td style="text-align: center;">
                            ${k.index+1}<%&#45;&#45;序号&#45;&#45;%>
                    </td>
                    <td style="text-align: left;">
                        <a href="${ctx}/zjkj/ydMain/xmxq?xmid=${zj.id}">${zj.xmmc}</a><%&#45;&#45;项目名称&#45;&#45;%>
                    </td>
                   
                    <shiro:hasAnyPermissions name="project:sbkqq:delete,project:sbkqq:update">
                        <td> <%&#45;&#45;操作&#45;&#45;%>
                            <shiro:hasPermission name="project:sbkqq:update">
                                <a href="#" onclick="upd(this)" zrdw="${zj.zrdw.id}" xmlevel="${zj.xmLevel}"
                                   data-href="${ctx}/zjkj/xmMain/qqupdateform?id=${zj.id}&url=/zjkj/xmSbk/sbkqqlist"
                                   style="color: #00A6C7;">修改</a>
                            </shiro:hasPermission>
                            <shiro:hasPermission name="project:sbkqq:delete">
                                <a href="#" onclick="del(this)" zrdw="${zj.zrdw.id}" xmlevel="${zj.xmLevel}" xmid="${zj.id}"
                                   style="color: red;">删除</a>
                            </shiro:hasPermission>
                        </td>
                    </shiro:hasAnyPermissions>
                    </tr>
                </c:forEach>-->
                </tbody>
            </table>
        </div>
        <div class="pagin">${page}</div>
        <div style="width:100%;margin-top:20px;">

        </div>
        <div id="mtk"></div>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <tbody></tbody>
</table>
</body>

</html>