<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="app">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.main.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.main.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-migrate-1.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-migrate-1.1.1.main.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-theme.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/simple-line-icons.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/app.css}"/>
    <title>登录页面</title>
</head>

<body th:background="@{/img/login/bodybg.jpg}">
<section id="content" class="m-t-lg wrapper-md animated fadeInUp ">
    <div class="container aside-xl" style="margin-top: 48px;">
        <a class="navbar-brand block"><span class="h1 font-bold" style="color: #ffffff">登录</span></a>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong class="text-sucess" id="checkFlag"></strong>
            </header>
            <form action="@{/login/login}" th:action="@{/login/login}" method="post" onsubmit="return submit()">
                <div class="form-group">
                    <input type="username" th:name="username" placeholder="用户名"
                           class="form-control  input-lg text-center no-border">
                </div>
                <div class="form-group">
                    <input type="password" th:name="password" th:placeholder="密码"
                           class="form-control  input-lg text-center no-border ">
                </div>
                <button type="submit" class="btn btn-lg btn-danger lt b-white b-2x btn-block" id="validate-submit">
                    <i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">登录</span></button>
            </form>
        </section>
    </div>
</section>
<!-- footer -->
<!--<footer id="footer">
    <div class="text-center padder">

    </div>
</footer>-->
<!-- / footer -->
<script type="text/javascript">
    function submit() {
        if ($.trim($("#username").value) == "") {
            $("#checkFlag").html("请输入用户名");
            return false;
        }
        else if ($.trim($("#password").value) == "") {
            $("#checkFlag").html("请输入密码!");
            return false;
        } else {
           /* $("#checkFlag").html("正在检测");//显示提示信息
            $.ajax({
                type: "POST",           //提交方式（一般选择post提交，安全）
                url: "@{/login/check}",
                data: {"username=": $("username")},//提交表单，相当于CheckCorpID.ashx?ID=XXX
                success: function (msg) {
                    $("#checkFlag").html(msg);
                } //操作成功后的操作！msg是后台传过来的值
            });*/
           return true;
        }
    }
</script>
</body>
</html>