<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.main.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.main.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-migrate-1.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-migrate-1.1.1.main.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-theme.css}">
    <title>后台页面</title>
</head>
<body>

</body>
</html>