<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/static/js/jquery-3.2.1.min.js}" src="/static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/static/js/bootstrap.js}" src="/static/css/bootstrap.min.css"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <h1 class="text-center jumbotron">新建界面引用成功(*_*)</h1>
<h1> B </h1>
</div>
</body>
</html>