<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wll.pro.dao.UserDao">
    <sql id="from">
        FROM user a
    </sql>
    <sql id="columns">
       a.id AS "id",
       a.name AS "name",
       a.password AS "password"
    </sql>
    

    <select id="get" resultType="com.wll.pro.entity.User">
    SELECT
    <include refid="columns"/>
        FROM user a
        WHERE a.id=#{id}
    </select>
    <select id="list" resultType="com.wll.pro.entity.User">
        SELECT
        <include refid="columns"/>
        <include refid="from"/>
        WHERE NAME LIKE "%"#{name}"%"
    </select>


</mapper>