body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(../images/bg.jpg);
}

a {
	text-decoration: none;
}

.login {
	width: 680px;
	margin: auto;
	background-color: #FFFFFF;
	margin-top: 15%;
	text-align: center;
	border-radius: 5px;
}

.log-form {
	padding: 25px;
	width: 60%;
	margin: auto;
	padding-bottom: 35px;
}

.lg-bt {
	font-size: 38px;
	font-weight: bold;
	color: #13a1f3;
	padding-top: 45px;
	padding-bottom: 15px;
	margin: 0px;
}

.vcode {
	width: 50%;
	padding: 12px 0px;
	padding-left: 60px
}

.text {
	width: 80%;
	padding: 12px 0px;
	padding-left: 80px;
}

.log-form input {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	background: none;
	font-weight: bold;
	color: #333;
	border: 1px solid;
	border-color: #CECECF;
	border-radius: 0;
}

.cell {
	position: relative;
	height: 40px;
	margin-bottom: 22px;
	zoom: 1;
}

.cell label {
	position: absolute;
	top: 2px;
	left: 0;
	z-index: 1;
	padding: 0 12px;
	line-height: 40px;
	font-size: 16px;
	color: #999;
	font-weight: bold;
	cursor: text;
}

.yzm img {
	height: 30px;
}

.yzm {
	padding-left: 65%;
}

.reg-form .bottom .button {
	display: block;
	border-radius: 3px;
}

.btn-green {
	height: 50px;
	line-height: 50px;
	background-color: #13a1f3;
	padding: 10px 15%;
	color: #FFFFFF;
	margin: 15px;
}

.dlu a:hover {
	background-color: #076fab;
}

.lg-foot {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	color: #ead7c6;
	padding-bottom: 1%;
}