<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/static/js/jquery.min.js}" src="/static/js/jquery.min.js"></script>
    <script th:src="@{/static/js/bootstrap.min.js}" src="/static/js/bootstrap.min.js"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" href="/static/css/font-awesome.min.css"/>
    <title>字典信息增加</title>
</head>
<body>
<div class="container">
    <h1 class="text-center jumbotron">字典信息增加</h1>
    <div class="main-content">
        <div class="page-content">
            <div class="page-content-area">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" action="/sys/dict/insert">
                            <input name="id" th:value="${entity.id}" hidden>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 字典名称：</label>

                                <div class="col-sm-2">
                                    <input name="name" placeholder="字典名称" class="col-xs-4 col-sm-10"
                                           th:value="${entity.name}"/>
                                </div>
                                <label class="col-sm-2 control-label no-padding-right">字典类型： </label>

                                <div class="col-sm-2">
                                    <input name="type" placeholder="字典类型" class=" col-xs-4 col-sm-10"
                                           th:value="${entity.type}"/>
                                </div>
                                <label class="col-sm-2 control-label no-padding-right">字典码： </label>

                                <div class="col-sm-2">
                                    <input name="lable" placeholder="字典码" class=" col-xs-4 col-sm-10"
                                           th:value="${entity.lable}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">字典值： </label>

                                <div class="col-sm-2">
                                    <input name="value" placeholder="字典值" th:value="${entity.value}"
                                           class=" col-xs-4 col-sm-10"/>
                                </div>
                                <label class="col-sm-2 control-label no-padding-right"> 排序：</label>

                                <div class="col-sm-2">
                                    <input name="sort" placeholder="排序" th:value="${entity.sort}"
                                           class="col-xs-4 col-sm-10"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">备注：</label>
                                <div class="col-sm-9">
                                    <div class="pos-rel">
                                        <textarea class="form-control limited autosize-transition" name="remarks"
                                                  maxlength="200" th:text="${entity.remarks}" title=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        立即提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>